:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #c0c0c0;
    --botao-destaque: #167bf7;
    --cor-de-fundo: #00030c;
}

*{
    margin: 0;
    padding:0;
}

.principal{
    background-image: url("img/Background.png");
    background-size:contain;
    background-repeat:no-repeat;
}
.container{
    height: 100vh;
}

.container--botao{
    background-color: var(--botao-destaque);
    color: var(--cor-principal);
    padding: 1em;
    border-radius: 5px;

}